@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  width: 100vw;
  height: 100vh;
}

.notification {
  position: fixed;
  top: 50px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification.success {
  opacity: 1;
  background-color: #4CAF50;
}

.notification.error {
  opacity: 1;
  background-color: #F44336;
}

.notification.info {
  opacity: 1;
  background-color: #2196F3;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
